
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8"
       matSort >

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selectionHasValue() && isAllSelected()"
                    [indeterminate]="selectionHasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggleSelectionRow(row) : null"
                    [checked]="isRowSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="id" >
    <th mat-header-cell *matHeaderCellDef > id </th>
    <td mat-cell *matCellDef="let element"> {{element.id | slice:0:3}}</td>
  </ng-container>
  <ng-container matColumnDef="addedOn" >
    <th mat-header-cell *matHeaderCellDef> Added on </th>
    <td mat-cell *matCellDef="let element"> {{element.addedOn.toLocaleString()}}</td>
  </ng-container>
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="timeActive" >
    <th mat-header-cell *matHeaderCellDef> time </th>
    <td mat-cell *matCellDef="let element"> {{element.timeActive}}</td>
  </ng-container>
  <ng-container matColumnDef="progress" >
    <th mat-header-cell *matHeaderCellDef> Progress </th>
    <td mat-cell *matCellDef="let element"> {{element.progress}}%</td>
  </ng-container>
  <ng-container matColumnDef="tags" >
    <th mat-header-cell *matHeaderCellDef> Tags </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list aria-label="Dog selection">
        <mat-chip *ngFor="let tag of element.tags">{{tag}}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">
      <button mat-icon-button (click)="expandAllElements()">
        <mat-icon *ngIf="!areAllExpanded()">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="areAllExpanded()">keyboard_arrow_up</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="onExpandClick($event,element)">
        <mat-icon *ngIf="!expandedElements.has(element.id)">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElements.has(element.id)">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="expandedElements.has(element.id) ? 'expanded' : 'collapsed'">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <app-torrent-chart [torrentHistory]="getTorrentHistoryById(element.id)"></app-torrent-chart>
          </mat-grid-tile>
          <mat-grid-tile>
            <div id="info-grid">
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row  *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row  *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElements.has(element.id)"
      (click)="onExpandClick($event,element)">
  </tr>
  <tr mat-row   *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  <!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>-->
</table>
