:host{
  height: 100%;
}
table {
  width: 100%;
}
//table {
//  width: 100%;
//}

tr.example-detail-row {
  height: 0;
}
//
//tr.example-element-row:not(.example-expanded-row):hover {
//  background: whitesmoke;
//}
//
//tr.example-element-row:not(.example-expanded-row):active {
//  background: #efefef;
//}

.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  //display: flex;
  //justify-content: flex-start;
  //align-items: flex-start;
  //> * {
  //  flex:1;
  //}
}



mat-toolbar-row span mat-icon{
  vertical-align: bottom;
}



.mat-row .mat-cell {
  //border-bottom: 1px solid transparent;
  //border-top: 1px solid transparent;
  cursor: pointer;
}

#info-grid{
 height: 100%;
  width: 100%;
  background: red;
}

mat-grid-tile {
  background: lightblue;
}
mat-card{
  //border-radius: 0!important;
  padding-bottom: 0;
  mat-card-header{
    align-items: center;
    justify-content: space-between;
  }
  mat-card-content{
    margin: 0 -16px;
  }
}



